.container {
    margin-top: 30px;
    display: flex;
    font-size: 1.8rem;
}

.avatar {
    height: 200px;
    width: 200px;
}

.general-info {
    margin-left: 20px;
    line-height: 3rem;
    font-size: 1.8rem;
}